<div
  class="w-full min-h-full h-full flex flex-col gap-5 p-8 items-center justify-center"
>
  <h1 class="text-xl sm:text-2xl text-center text-text-primary">
    Reset your password
  </h1>
  <div
    class="w-full max-w-2xl bg-[var(--card-bg)] text-[var(--text-primary)] shadow-[var(--accent-color)] border border-[var(--accent-color)] p-5 rounded-2xl transition-all duration-300"
  >
    <div
      [formGroup]="resetForm"
      class="flex flex-col gap-12 sm:gap-5 text-white p-5"
    >
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" />
        @if (getControllName('password')?.hasError('required')) {
        <mat-error>Password is required</mat-error>
        } @if (getControllName('password')?.hasError('pattern')) {
        <mat-error
          >Password must be at least 8 characters and include uppercase,
          lowercase, number, and special character</mat-error
        >
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirmPassword" matInput type="password" />

        @if (resetForm.get('confirmPassword')?.hasError('required')) {
        <mat-error>Confirm Password is <strong>required</strong></mat-error
        >} @if (resetForm.hasError('passwordNoMatch') &&
        resetForm.get('confirmPassword')?.touched) {
        <mat-hint>Passwords do not <strong>match</strong></mat-hint>
        }
      </mat-form-field>

      <div class="flex flex-col gap-2 justify-center items-center">
        <button
          class="{{
            resetForm.invalid
              ? 'px-10 py-2 rounded-2xl bg-gray-400 text-xl font-semibold cursor-not-allowed text-text-primary tracking-wider border border-accent-color'
              : 'px-10 py-2 rounded-2xl bg-primary-color text-xl font-semibold hover:bg-accent-color cursor-pointer text-text-primary tracking-wider border border-accent-color'
          }}"
          (click)="onResetPassword()"
          [disabled]="resetForm.invalid"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
